@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  // margin-top: 0.4rem;
}

.skills-main-div {
  padding: 20px 10px;
  margin: 0px auto;
  // margin-top: 0.2rem;

  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.skills-text-div {
  // margin-left: 50px;
  flex: 1 1 60%;   // 大约 60% 宽，可按需要调
}

.skills-image-div {
  flex: 1 1 40%;
}

.skills-main-div > * {
  // flex: 1;
  // margin-bottom: 30px;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 2rem;
  line-height: 1.1rem;
  color: $textColor !important;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}

.img-divider {
  display: block;
  width: 80%;      // 占满当前容器宽度
  margin: 1rem auto;
  height: 0.2rem;
  opacity: 0.5;
}