@import "../../_globalColor";

.education-heading {
  font-size: 2rem;
  line-height: 1.1rem;
  line-height: 1.5;
  // color: $textColor !important; // 会和dark mode冲突
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
}

.education-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.education-image-div {
  flex: 0 0 35%;
  max-width: 35%;
  display: flex;
  justify-content: center;
}

.education-image-div > img {
  max-width: 100%;
  height: auto;
}

.education-section > *:not(:last-child) {
  flex: 1;
  margin-bottom: 1rem;
}

.education-section > :last-child {
  flex: 1;
  margin-bottom: 0; /* 或者你要的值 */
}

.img-divider-edu {
  // align-items: center;
  display: block !important;
  width: 90% !important;      // 占满当前容器宽度
  margin: 1rem auto !important;
  margin-top: 0rem;
  height: 0.15rem !important;     // 自动按原图比例
  opacity: 0.4 !important;
}

.education-card-container {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 40px;
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-content {
    flex-direction: column;
  }
  .education-card-container {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 30px;
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 16px;
  }
}
