// .experience-cards-div {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
//   gap: 1rem 1rem;
// }

.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); // 一行两列
  gap: 1rem 1rem; // 卡片之间的间距
}

/* 小屏时自动变成一列，防止挤爆 */
@media (max-width: 768px) {
  .experience-cards-div {
    grid-template-columns: 1fr;
  }
}

.experience-card {
  width: 90%;         // 只占格子宽度的 90%
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
